<%= form_for @recipe.comments.build do |f| %>
     <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div>
    <%= f.hidden_field :recipe_id %>
   </div>

    <p>
        <%= f.label 'Comment:' %><br>
        <%= f.text_field :content %>
    </p>

    <%= f.submit %>
<% end %>