
 <div class="card" style="width: 50rem;">
  <div class="card-body">
  
<%= form_for @recipe do |f| %>
  
  <div class="card" style="width: 18rem;">
  <div class="card-body">
  <div class="center-align">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <h5 class="grey-text text-darken-2">Select Category</h5>
  <div class="center-align">
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "Select Category" %>
  </div>
<br>
  <h5 class="grey-text text-darken-2">Or Create category</h5>
  <%= f.fields_for :category, @recipe.build_category do |category_builder| %>
    <div>
      <%= category_builder.label :name %>
      <%= category_builder.text_field :name %>
    </div>
    
    <br>

    <h5 class="grey-text text-darken-2">Add description</h5>
   <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
 </div>
</div>
  <% end %>

  <br><br>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="grey-text text-darken-2">Add Ingredients</h5>
      <div>
    
    <div id="Ingredients">
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :ingredients %>
      </div>
    </div>
  </div>
     </div>
</div>
    <br><br>
 <div class="card" style="width: 18rem;">
  <div class="card-body">
<h5 class="grey-text text-darken-2">Add Directions</h5>
      <div>

    <div id="Directions">
      <%= f.fields_for :directions do |direction| %>
        <%= render 'direction_fields', f: direction %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add direction', f, :directions %>
      </div>
    </div>
  </div>
   </div>
</div>
</div>
    <br>

  <%= f.submit %>



<% end %>
 
   </div>
</div>