<div class="nested_fields">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <br>
        <%= link_to_remove_association "Remove Ingredient", f %>
        
</div>