  
<h1>Add Category Recipe </h1>

<%= form_for [@category, @recipe] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


<br><br>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="grey-text text-darken-2">Add Ingredients</h5>

      <div>
    <div id="Ingredients">
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :ingredients %>
      </div>
    </div>
  </div>
     </div>
</div>
    <br><br>
 <div class="card" style="width: 18rem;">
  <div class="card-body">
<h5 class="grey-text text-darken-2">Add Directions</h5>
      <div>

    <div id="Directions">
      <%= f.fields_for :directions do |direction| %>
        <%= render 'direction_fields', f: direction %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add direction', f, :directions %>
      </div>
    </div>
  </div>
   </div>
</div>
</div>

  <%= f.hidden_field :category_id %>

  <%= f.submit "Create Recipe" %>
<% end %>