
<br><br>
<div style="color: #2E1114; text-align:center">
<h1 style="color: #198900;"><%= @recipe.title %></h1>
    <p>
<strong style="color: #198900;">Category:</strong> 
      <%= @recipe.category_name %>
    </p>

    <p class="grey-text text-darken-2">
      <strong style="color: #198900;">Description:</strong> 
      <%= @recipe.description %>
    </p>

  <div class="row">
    <h4 style="color: #198900;"> Ingredients </h4>
      <ul class="list-unstyled">
        <% for @ingredients in @recipe.ingredients %>
        <p class="grey-text text-darken-2"><%= @ingredients.name %></p>
        <p class="grey-text text-darken-2"><%= @ingredients.quantity %></p>
      </ul>
    <% end %>
    
<br>
  
      <h4 style="color: #198900;"> Directions </h4>
        <ul class="list-unstyled" >
          <% for @directions in @recipe.directions %>
          <p class="grey-text text-darken-2"><%= @directions.step %></p>
        </ul>
      <%end%>
    </div>
    
<br>
<div>
<% if current_user.id == @recipe.user_id %>
<%= link_to "Edit", edit_recipe_path(@recipe) %>

<%= link_to "Delete", recipe_path(@recipe), method: "delete" %> 
</div>
<% end %>
<br><br>

<h3>Comments:</h3>

 <%= link_to "Recipe Comments", recipe_comments_path(@recipe) %> 
 <br>
<%= 'No comments yet.' if @recipe.comments.empty? %>

<% @recipe.comments.each do |comment| %>
    <br>
    <h6><%= comment.user.username %></h6>
    <p>
    <%= comment.content %>
    </p>
  
  <% if current_user && current_user == comment.user %>
 <%= link_to 'Delete Comment', [comment.recipe, comment],
 method: :delete,
 data: { confirm: 'Are you sure?' } %>

<% end %>
 
<% end %>
<br><br>


<h4>Add Comment:</h4>
<!-- We use "@recipe.comments.build" to build a new comment with an existing user_id or a new user, and comment content -->

<%= render partial: "comments/form", locals: { comment: @comment, button_name: "Add Comment" } %>

</div>