<h1><%= @recipe.title %></h1>
    <p>Category: <%= category_type(@recipe) %></p>
    
    <h3>Ingredients</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.item} X #{ingredient.quantity}" %></li>
<% end %>
</ul>

    <p>Intructions: <%= @recipe.instructions %></p>
  

    Comments:
  <% @recipe.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>

    <%= link_to "Edit", edit_recipe_path(@recipe) %>
    <%= link_to "Delete", recipe_path(@recipe), method: "delete" %>
