<br><br>
<h1 class="grey-text text-darken-2"><%= @recipe.title %></h1>
    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Category:</strong> 
      <%= @recipe.category_name %>
    </p>

    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Description:</strong> 
      <%= @recipe.description %>
    </p>
  
    <h4 class="grey-text text-darken-2"> Ingredients </h4>
      <ul>
        <% for @ingredients in @recipe.ingredients %>
        <li class="grey-text text-darken-2"><%= @ingredients.name %></li>
    </ul>
<br>
      <h4 class="grey-text text-darken-2"> Directions </h4>
        <ul>
          <% for @directions in @recipe.directions %>
          <li class="grey-text text-darken-2"><%= @directions.step %></li>
    </ul>
      <%end%>
<br>
  <% if @recipe.users == current_user %>
  <a class="waves-effect waves-light btn-small"><%= button_to "Edit", edit_recipe_path(@recipe) %></a>
  <a class="waves-effect waves-light btn-small"><%= button_to "Delete", recipe_path(@recipe), method: "delete" %></a>


<h5 style="font-size:1.45rem">● Recipe Comments:</h5>
<div style="margin-left:25px;">
  <%= render partial: 'comments/comments_list', locals: {comments: @recipe.comments, recipe: @recipe} if @recipe.comments %>
  
</div>
<br>


  <h5>Add Recipe Comments:</h5>
    <%= render 'comments/form', comment: @recipe.comments.new, recipe: @recipe %>   

  <br>
  <br>

<% end %>

<% end %>