<br><br>
<h1 class="grey-text text-darken-2"><%= @recipe.title %></h1>
    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Category:</strong> 
      <%= @recipe.category_name %>
    </p>

    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Description:</strong> 
      <%= @recipe.description %>
    </p>
  
    <h4 class="grey-text text-darken-2"> Ingredients </h4>
      <ul>
        <% for @ingredients in @recipe.ingredients %>
        <li class="grey-text text-darken-2"><%= @ingredients.name %></li>
      </ul>
    <% end %>
<br>
      <h4 class="grey-text text-darken-2"> Directions </h4>
        <ul>
          <% for @directions in @recipe.directions %>
          <li class="grey-text text-darken-2"><%= @directions.step %></li>
        </ul>
      <%end%>
<br>
<div>
  <% if @recipe.users == current_user %>
  <%= button_to "Edit", edit_recipe_path(@recipe) %>
  <%= button_to "Delete", recipe_path(@recipe), method: "delete" %>
</div>

<h5>Comments:</h5>
<div>
  <%= render partial: 'comments/comments_list', locals: {comments: @recipe.comments, recipe: @recipe} if @recipe.comments %>
</div>
<br>


  <h5>Add Recipe Comments:</h5>
    <%= render 'comments/form', comment: @recipe.comments.new, recipe: @recipe %>   

  <br>
  <br>


    <% end %>