<h1><%= @recipe.title %></h1>
    <p>Category: <%= @recipe.category_name %></p>
    
    <h3>Ingredients</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %>
</ul>

    <p>Intructions: <%= @recipe.instructions %></p>
  
  <% if @recipe.user == current_user %>
    <%= link_to "Edit", edit_recipe_path(@recipe) %>
    <%= link_to "Delete", recipe_path(@recipe), method: "delete" %>

<% end %>


