<br><br>
<h1 class="grey-text text-darken-2"><%= @recipe.title %></h1>
    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Category:</strong> 
      <%= @recipe.category_name %>
    </p>

    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Description:</strong> 
      <%= @recipe.description %>
    </p>
  
    <h4 class="grey-text text-darken-2"> Ingredients </h4>
      <ul>
        <% for @ingredients in @recipe.ingredients %>
        <li class="grey-text text-darken-2"><%= @ingredients.name %></li>
      </ul>
    <% end %>
<br>
      <h4 class="grey-text text-darken-2"> Directions </h4>
        <ul>
          <% for @directions in @recipe.directions %>
          <li class="grey-text text-darken-2"><%= @directions.step %></li>
        </ul>
      <%end%>
<br>
<%= link_to "Edit", edit_recipe_path(@recipe) %>

<%= link_to "Delete", recipe_path(@recipe), method: "delete" %> 
<br><br>
<%= link_to "Create a Comments", new_recipe_comment_path(@recipe) %>

<h3> comments </h3>
<% @recipe.comments.each do |c| %>
    <h2><%= c.content %> -  <%= c.user.username%> </h2>
    <%= link_to "Edit comment", edit_recipe_comment_path(@recipe.id,c.id) %>
 
<% end %>