
<br><br>
<h1 class="grey-text text-darken-2"><%= @recipe.title %></h1>
    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Category:</strong> 
      <%= @recipe.category_name %>
    </p>

    <p class="grey-text text-darken-2">
      <strong class="grey-text text-darken-2">Description:</strong> 
      <%= @recipe.description %>
    </p>
  
    <h4 class="grey-text text-darken-2"> Ingredients </h4>
      <ul>
        <% for @ingredients in @recipe.ingredients %>
        <li class="grey-text text-darken-2"><%= @ingredients.name %></li>
      </ul>
    <% end %>
<br>
      <h4 class="grey-text text-darken-2"> Directions </h4>
        <ul>
          <% for @directions in @recipe.directions %>
          <li class="grey-text text-darken-2"><%= @directions.step %></li>
        </ul>
      <%end%>
<br>
<%= link_to "Edit", edit_recipe_path(@recipe) %>

<%= link_to "Delete", recipe_path(@recipe), method: "delete" %> 
<br><br>

<h3>Comments:</h3>
<%= 'No comments yet.' if @recipe.comments.empty? %>

<% @recipe.comments.each do |comment| %>
    <p><%= link_to comment.user.username, user_path(comment.user) %><br>
    <%= comment.content %>
    </p>
 <%= link_to 'Destroy Comment', [comment.recipe, comment],
 method: :delete,
 data: { confirm: 'Are you sure?' } %>

<% end %>
<br><br>


<h4>Add Comment:</h4>
<!-- We use "@recipe.comments.build" to build a new comment with an existing user_id or a new user, and comment content -->

<%= render partial: "comments/form", locals: { comment: @comment, button_name: "Add Comment" } %>