 <nav class="<%= navbar_color %>">
  <ul class="container">
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Tea Recipes", recipes_path) %></li>
        <li><%= link_to("Create Recipe", new_recipe_path) %></li>
        <li><%= link_to("Crategory", categories_path) %></li>
       </ul>
    </nav>
   
   