 <nav>
      <ul> 
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Login", new_user_session_path) %></li>
        <li><%= link_to("Signup", new_user_registration_path) %></li>
        <li><%= link_to("Tea Recipe List", recipes_path) %></li>
        <li><%= link_to("New Tea Recipe", new_recipe_path) %></li>
      </ul>
    </nav>